.todo_header{
  text-align: center;
  margin: 20px;
}

.main_top {
  display: flex;
  margin-left: 20px;
}

.main_middle {
  border: 1px solid green;
  height: 100px;
  width: 100px;
  border-radius: 12px;

  margin: 7px;
  padding: 10px;
  text-align: center;
};